*{
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter, sans-serif;
    color: white;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.navbar .logo{
    font-size: 1.4em;
    font-weight: bold;
    color: #FBD117;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;

}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3;
    
}

.navbar a:hover{
    color: #FBD117;
}

.navbar li{
    border-radius: 20px;
    background-color: #32418C;
    padding: 10px;
}

.navbar li:hover{
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.hero{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 140px;
    background: linear-gradient(to bottom, #32418C, #022241);
    gap: 20px;
    flex-wrap: wrap;
}


.hero-img {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 600px;
    height: 700px;
    border-radius: 20px;
    object-fit: cover;
    border: 5px solid #FBD117;
}

.hero-img img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.hero-texts{
    width: 400px;
    height: 200px;
}

.hero-card{
    flex: 2 1 400px;
    text-align: left;
    max-width: 600px;
    height: 265px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    border: 5px solid #fbd117;
    background-color: #022241;
}

.hero-card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.hero-card h1{
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-card p{
    font-size: 1.2em;
    margin-bottom: 30px;
}

.badges {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.badge{
    background-color: #FBD117;
    color: #32418C;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 20px;
}

#bball{
    margin-left: 15px;
}

.badge img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.btn{
    padding: 12px 25px;
    background: #FBD117;
    color: #32418C;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.btn:hover{
    background: #D8B639;
    color: #220871;
}

.skills{
    padding: 60px 40px;
    background: linear-gradient(to bottom, #022241 5%, whitesmoke);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.skills h2{
    font-size: 2.4em;
    margin-bottom: 30px;
    color: #FBD117;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.skill-card{
    background: #32418C;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3s);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card h3{
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #FBD117;
}

.skill-card p{
    font-size: 1.2em;
    color: whitesmoke;
}

.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4s);
}

.footer{
    background: #32418C;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img{
    max-width: 150px;
    border-radius: 30px;
}
.footer-links{
    display: flex;
    gap: 15px;
}

.social-link img{
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-link img:hover{
    transform: scale(1.1);
}

.footer-text{
    font-size: 0.9em;
    color: #e0e0e0
}

.projects{
    padding: 4rem 2rem;
    background-color: #f4f4f4;
}

.projects h2{
    font-size: 2.4em;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.projects-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.project-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0,1);
    transition: transform 0.3s ease;
}

.project-card:hover{
    transform: translateY(-5px);
}

.video-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.project-image{
    width: 100%;
    overflow: hidden;
}

.project-image img{
    width: 100%;
    height: auto;
    display: block;
}

.project-content{
    padding: 1.5rem;
}

.project-content h3{
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.project-content p{
    color: #333;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.project-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.project-tags span{
    background-color: #FBD117;
    color: #333;
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
    font-size: 0.8rem;
}

.project-links{
    display: flex;
    gap: 1rem;
}


.project-link{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    transition: transform 0.3s;
}
.project-link:hover{
    color: #fbd117;
}