*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter, sans-serif;
    color: #333;
    line-height: 1.6;
}

.hero{
    background: url(https://scontent.fmnl4-7.fna.fbcdn.net/v/t39.30808-6/469777716_1312353446872792_4887100999314881085_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=1PIWP0bdVwsQ7kNvwHgkOhS&_nc_oc=Adm0zyPniFGP-KHu33urh4ts5J34YWa7gnCNXAu85U0mxrmDyR0uuij9QAvDAVts2im1fAbme0fao1OeYRsHz7b0&_nc_zt=23&_nc_ht=scontent.fmnl4-7.fna&_nc_gid=F5KR2MLmAOOglANM0QW4dg&oh=00_AfFA_rSFC_zg2kNzBCl_0ZlaDgfTDgRMDne2Ag65FuvgEw&oe=681601B9) no-repeat center center/cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fbd117;
    
}

.nav-links{
    position: absolute;
    left: 42%;
    bottom: 10%;
    transform: translateY(-50%);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar a{
    color: #32418c;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    align-items: center;
}

.navbar a:hover{
    color: lightblue;
    transition: color 0.3s;
}

.navbar input[type="text"]{
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    width: 250px;
    outline: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.3s ease, width 0.3s ease;
}

.navbar input[type="text"]:focus{
    background: #fff;
    width: 300px;
}

.hero-text {
    text-align: center;
    margin-top: 530px;
}
.hero-text h1{
    font-size: 4rem;
}

.new-arrivals,
.testimonials,
.cta{
    padding: 50px 20px;
    text-align: center;
}

.product-grid,
.testimonial-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-grid img{
    width: 100%;
    border-radius: 8px;
    margin-top: 30px;
    height: 400px;
}

.testimonial-card{
    background: #c9c9c9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;

}
.profile-card{
    padding: 10px;
    border-radius: 15px;
}
.profile-card img{
   width: 200px;
   border-radius: 20px;
   align-items: center;
}
.profile{
    background: #aaa;
    display: flex;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}

.profile span{
    align-items: center;
    padding-top: 5px;
}

.profile p{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    padding-left: 25px;
}

.purchased{
    margin-top: 20px;
    max-height: 175px;
}

.cta button{
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

footer{
    background: #222;
    color: #aaa;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer-links a{
    color: #aaa;
    text-decoration: none;
}

.footer-links img{
    height: 30px;
    width: 30px;
}

.footer-links a:hover img{
    transform: translateY(-3.5px);
    transition: transform 0.4s; 
}

